.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.title {
  flex-grow: 1;
}

.close {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  background: transparent;
  cursor: pointer;
}
